@model TrallyRally.Models.Game

@{ ViewData["Title"] = "Details"; }

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Game details</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                    </dl>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-assigned-questions-tab" data-toggle="tab" href="#nav-assigned-questions" role="tab" aria-controls="nav-assigned-questions" aria-selected="true">Game Questions</a>
                            <a class="nav-item nav-link" id="nav-unassigned-questions-tab" data-toggle="tab" href="#nav-unassigned-questions" role="tab" aria-controls="nav-unassigned-questions" aria-selected="false">All Questions</a>
                            <a class="nav-item nav-link" id="nav-assigned-players-tab" data-toggle="tab" href="#nav-assigned-players" role="tab" aria-controls="nav-assigned-players" aria-selected="false">Game Players</a>
                            <a class="nav-item nav-link" id="nav-unassigned-players-tab" data-toggle="tab" href="#nav-unassigned-players" role="tab" aria-controls="nav-unassigned-players" aria-selected="false">All Players</a>
                            <a class="nav-item nav-link" id="nav-submissions-tab" data-toggle="tab" href="#nav-submissions" role="tab" aria-controls="nav-submissions" aria-selected="false">Submissions <span class="badge badge-info right align-middle">@Model.QuestionSubmissions.Where(x => x.Correct == null).Count()</span></a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-assigned-questions" role="tabpanel" aria-labelledby="nav-assigned-questions-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Question Title</th>
                                        <th scope="col">Points</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var question in (List<Question>)ViewData["AssignedQuestions"])
                                        {
                            <tr>
                                <td>@question.Title</td>
                                <td>@question.Points</td>
                                <td><a asp-action="QuestionAssign" asp-route-gameID="@Model.ID" asp-route-questionID="@question.ID" asp-route-type="remove">Unassign</a></td>
                            </tr>
 } }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-unassigned-questions" role="tabpanel" aria-labelledby="nav-unassigned-questions-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Question Title</th>
                                        <th scope="col">Points</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var question in (List<Question>)ViewData["NonAssignedQuestions"])
                                        {
                            <tr>
                                <td>@question.Title</td>
                                <td>@question.Points</td>
                                <td><a asp-action="QuestionAssign" asp-route-gameID="@Model.ID" asp-route-questionID="@question.ID" asp-route-type="add">Assign</a></td>
                            </tr>
 } }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-assigned-players" role="tabpanel" aria-labelledby="nav-assigned-players-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Player</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var player in (List<Player>)ViewData["AssignedPlayers"])
                                        {
                            <tr>
                                <td>@player.Name</td>
                                <td><a asp-action="PlayerAssign" asp-route-gameID="@Model.ID" asp-route-playerID="@player.ID" asp-route-type="remove">Unassign</a></td>
                            </tr> } }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-unassigned-players" role="tabpanel" aria-labelledby="nav-unassigned-players-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Player</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var player in (List<Player>)ViewData["NonAssignedPlayers"])
                                        {
                            <tr>
                                <td>@player.Name</td>
                                <td><a asp-action="PlayerAssign" asp-route-gameID="@Model.ID" asp-route-playerID="@player.ID" asp-route-type="add">Assign</a></td>
                            </tr> } }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-submissions" role="tabpanel" aria-labelledby="nav-submissions-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Player</th>
                                        <th scope="col">Question</th>
                                        <th scope="col">Answer</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var submission in Model.QuestionSubmissions.OrderBy(x => x.Correct != null))
                                        {
                            <tr>
                                <td>@submission.Player.Name</td>
                                <td>@submission.Question.Title</td>
                                <td>
                                    @if (submission.Question.Type == QuestionType.PHOTO)
                                    {
                    <a href="~/@submission.Answer" data-toggle="lightbox" data-title="@submission.Player.Name answer for @submission.Question.Title">
                        <img src="~/@submission.Answer" class="img-fluid mb-2" alt="@submission.Player.Name answer for @submission.Question.Title" style="max-width: 300px; max-height: 300px" />
                    </a> }
                                    else
                                    {
                    @submission.Answer}
                                </td>
                                <td>@(submission.Correct == null ? "--Not yet evaluated--" : (submission.Correct == true ? "Correct" : "Incorrect"))</td>
                                <td>
                                    @{if (submission.Correct != true)
                                        {
                        <a asp-action="EvaluateSubmission" asp-route-submissionID="@submission.ID" asp-route-correct="true">Mark as Correct</a>
                                            <br /> } }
                                    @{if (submission.Correct != false)
                                        {
                        <a asp-action="EvaluateSubmission" asp-route-submissionID="@submission.ID" asp-route-correct="false">Mark as Incorrect</a> } }
                                </td>
                            </tr> } }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_LightboxPartial");}
}